<div class="code-example">
  <div class="example-output u-compact">
    <%= rendered_example %>
  </div>
  <div class="code-block">
    <div class="highlight">
      <pre><%= code_example %></pre>
    </div>
  </div>
</div>
