/*doc
---
title: Masthead
name: masthead
category: Modules
---

```html_example
<header class="masthead" role="banner">
  <div class="container u-compact u-text-center">
    <h1>Howdy!</h1>
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
</header>
```
*/

:root {
  --padding-baseVertical--masthead: 30px;
  --padding-baseHorizontal--masthead: 20px;

  --padding-tablet--masthead: 40px;
  --padding-desktop--masthead: 60px;

  --color-base--masthead: var(--color-white);
  --backgroundColor-base--masthead: var(--color-black--brand);
}

.masthead {
  padding: var(--padding-baseVertical--masthead) var(--padding-baseHorizontal--masthead);
  background-color: var(--backgroundColor-base--masthead);
}
.masthead,
.masthead h1,
.masthead h2,
.masthead h3,
.masthead h4,
.masthead h5,
.masthead h6,
.masthead p {
  color: var(--color-base--masthead);
}

.masthead-fill {
  margin-right: calc(var(--padding-baseHorizontal--masthead) * -1);
  margin-left: calc(var(--padding-baseHorizontal--masthead) * -1);
}
.masthead-fill:first-child {
  margin-top: calc(var(--padding-baseVertical--masthead) * -1);
}
.masthead-fill:last-child {
  margin-bottom: calc(var(--padding-baseVertical--masthead) * -1);
}

@media (--tablet) {
  .masthead {
    padding: var(--padding-tablet--masthead);
  }

  .masthead-fill {
    margin-right: calc(var(--padding-tablet--masthead) * -1);
    margin-left: calc(var(--padding-tablet--masthead) * -1);
  }
  .masthead-fill:first-child {
    margin-top: calc(var(--padding-tablet--masthead) * -1);
  }
  .masthead-fill:last-child {
    margin-bottom: calc(var(--padding-tablet--masthead) * -1);
  }
}

@media (--desktop) {
  .masthead {
    padding: var(--padding-desktop--masthead);
  }

  .masthead-fill {
    margin-right: calc(var(--padding-desktop--masthead) * -1);
    margin-left: calc(var(--padding-desktop--masthead) * -1);
  }
  .masthead-fill:first-child {
    margin-top: calc(var(--padding-desktop--masthead) * -1);
  }
  .masthead-fill:last-child {
    margin-bottom: calc(var(--padding-desktop--masthead) * -1);
  }
}

.masthead .streamer-button {
  color: #ddd;
}
.masthead .streamer-button:hover {
  color: #fff;
}
