/*doc
---
title: Navbar
name: navbar
category: Modules
---

```html_example
<nav class="navbar" role="navigation">
  <div class="container">
    <nav class="nav navbar-nav" role="navigation">
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link" href="#">Link</a>
    </nav>

    <nav class="nav navbar-nav navbar-right" role="navigation">
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link" href="#">Link</a>
      <a class="nav-link" href="#">Link</a>
    </nav>
  </div>
</nav>
```
*/

:root {
  --backgroundColor-base--navbar: #f7f7f9;
  --borderColor-base--navbar: #ddd;
  --borderRadius-base--navbar: 3px;

  /* Navbar links */
  --padding-vertical--navbarNavLink: var(--fontSize-base--document);
  --padding-horizontal--navbarNavLink: var(--fontSize-base--document);
  --fontWeight-base--navbarNavLink: var(--fontWeight-b);
  --color-base--navbarNavLink: var(--color-grey);
  --color-hover--navbarNavLink: var(--color-grey--dark);
}

.navbar {
  background-color: var(--backgroundColor-base--navbar);
  border: 1px solid var(--borderColor-base--navbar);
  border-radius: var(--borderRadius-base--navbar);
}

.navbar .container,
.navbar .container-fluid {
  display: flex;
}

.navbar-static-top {
  border-width: 0 0 1px;
  border-radius: 0;
}

.navbar-nav:first-child {
  margin-left: calc(var(--padding-vertical--navbarNavLink) * -1);
}
.navbar-nav:last-child {
  margin-right: calc(var(--padding-vertical--navbarNavLink) * -1);
}

.navbar .nav-link {
  padding: var(--padding-vertical--navbarNavLink) var(--padding-horizontal--navbarNavLink);
  font-weight: var(--fontWeight-base--navbarNavLink);
  color: var(--color-base--navbarNavLink);
}
.navbar .nav-link:hover {
  color: var(--color-hover--navbarNavLink);
}

.navbar-right {
  margin-left: auto;
  float: right;
}
.navbar-left {
  margin-right: auto;
  float: left;
}
.navbar-center {
  margin-right: auto;
  margin-left: auto;
}
