/*doc
---
title: Streamer
name: streamer
category: Modules
---

The Modem Streamer is used for playing back and visualizing an audio stream. It supports playback of MP3, MP4/AAC, and OGG media streams through the [Web Audio API](http://www.w3.org/TR/2011/WD-webaudio-20111215/). Can be used through the HTML5 data API or as a jQuery plugin (default options shown):

```
$("audio.streamer").streamer({
  classes: {
    wrapper: 'streamer',
    button: 'streamer-button'
  },
  icons: {
    play: 'ion-play',
    pause: 'ion-pause'
  },
  labels: {
    play: 'Continue playing',
    pause: 'Stop playing'
  },
  waveform: {
    stroke: {
      width: 2,
      color: '#666'
    }
  }
})
```

```html_example
<audio data-streamer preload="none">
  <source src="audio/example.ogg" type="audio/ogg">
  <source src="audio/example.mp3" type="audio/mpeg">
</audio>
```

## Within masthead

The Streamer can be put within a [Masthead][masthead].

```html_example
<div class="masthead">
  <div class="masthead-fill">
    <audio data-streamer preload="none">
      <source src="audio/example.ogg" type="audio/ogg">
      <source src="audio/example.mp3" type="audio/mpeg">
    </audio>
  </div>
</div>
```
*/

:root {
  --height-base--streamerCanvas: 200px;
}

.streamer {
  position: relative;
}

.streamer canvas {
  display: block;
  width: 100%;
  height: var(--height-base--streamerCanvas);
  opacity: .5;
  transition: opacity 150ms;
}
.is-playing canvas {
  opacity: 1;
}
.is-playing:hover canvas {
  opacity: .5;
}

.streamer-button {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 24px;
  font-size: 48px;
  color: #555;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: 1000px;
  transform: translate(-50%, -50%);
  transition: color 150ms, opacity 150ms;
}
.streamer-button:hover {
  color: #333;
}
.is-playing .streamer-button {
  opacity: 0;
}
.is-playing:hover .streamer-button {
  opacity: 1;
}

.streamer-icon {
  display: block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-align: center;
}
.streamer-icon-play {
  padding-left: .125em; /* Make play and pause icons line up */
}
