:root {
  --backgroundColor-base--document: var(--color-white);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  background-color: var(--backgroundColor-base--document);
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

a {
  text-decoration: none;
  transition: color 150ms;
}
a:focus {
  outline: none;
}

img {
  vertical-align: middle;
}

button:focus {
  outline: none;
}

caption,
th {
  text-align: left;
}
