/*doc
---
title: Compact
name: compact
category: Utilities
---

The `.u-compact` class can be used to remove the top margin of the first direct child as well as the bottom margin of the last direct child. This is useful in cases where typography (or anything really) is used within modules that function as some kind of container (a [masthead][masthead] for example).

```html_example
<div class="u-compact">
  <h3>Heading</h3>

  <p>Fermentum non, ipsum. Etiam quis felis. Curabitur tincidunt, sapien et luctus faucibus, nibh nisi commodo arcu, vitae cursus neque ante sed elit.  Sed sit amet erat. Phasellus luctus cursus risus. Phasellus ac felis. Proin nec eros quis ipsum pellentesque congue. Curabitur et diam sed odio accumsan cursus.</p>

  <p>Maecenas accumsan, sem iaculis egestas gravida, odio nunc aliquet dui, eget cursus diam purus vel augue. Donec eros nisi, imperdiet quis, volutpat ac, sollicitudin sed, arcu. Aenean vel mauris. Mauris tincidunt.</p>
</div>
```
*/

.u-compact > :first-child {
  margin-top: 0 !important;
}
.u-compact > :last-child {
  margin-bottom: 0 !important;
}

/*doc
---
title: Text alignment
name: text-alignment
category: Utilities
---

```html_example_table
<p class="u-text-left">Erat volutpat. Praesent feugiat vehicula pede.</p>

<p class="u-text-center">Erat volutpat. Praesent feugiat vehicula pede.</p>

<p class="u-text-right">Erat volutpat. Praesent feugiat vehicula pede.</p>

<p class="u-text-justify">Erat volutpat. Praesent feugiat vehicula pede. Suspendisse pulvinar, orci in sollicitudin venenatis, nibh libero hendrerit sem, eu tempor nisi felis et metus. Etiam gravida sem ut mi. Integer volutpat, enim eu varius gravida, risus urna venenatis lectus, ac ultrices quam nulla eu leo.</p>
```
*/

.u-text-right   { text-align: right !important; }
.u-text-left    { text-align: left !important; }
.u-text-center  { text-align: center !important; }
.u-text-justify { text-align: justify !important; }

/*doc
---
title: Text transform
name: text-transform
category: Utilities
---

```html_example_table
<p class="u-lowercase">Lorem ipsum dolor sit amet.</p>

<p class="u-uppercase">Lorem ipsum dolor sit amet.</p>

<p class="u-capitalize">Lorem ipsum dolor sit amet.</p>
```
*/

.u-lowercase  { text-transform: lowercase !important; }
.u-uppercase  { text-transform: uppercase !important; }
.u-capitalize { text-transform: capitalize !important; }

/*doc
---
title: Screen reader
name: screen-reader
category: Utilities
---

```html_example
<div class="u-sr-only">This will only be visible to screen readers</div>
```
*/

.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/*doc
---
title: Click target
name: click-target
category: Utilities
---

```html_example
<a href="#" class="u-click-target">Anchor with increased click area</a>
```
*/

.u-click-target {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: calc(var(--fontSize-base--document) / 2);
  margin: calc(var(--fontSize-base--document) / 2 * -1);
}
.u-click-target:hover {
  z-index: 2;
}

/*doc
---
title: Inline lists
name: inline-lists
category: Utilities
---

```html_example
<ul class="u-inline-list">
  <li>Item 1</li>
  <li>Item 2</li>
  <li>Item 3</li>
</ul>
```
*/

.u-inline-list {
  padding-left: 0;
  list-style: none;
}
.u-inline-list > li {
  display: inline-block;
  padding-right: calc(var(--lineHeight-base--computed) / 4);
  padding-left: calc(var(--lineHeight-base--computed) / 4);
}
.u-inline-list > li:first-child {
  padding-left: 0;
}
.u-inline-list > li:last-child {
  padding-right: 0;
}

/*doc
---
title: Flex box
name: flex-box
category: Utilities
---

```html_example
<div class="u-display-flex u-display-flex--row">
  <p class="u-flex">This is a flexible paragraph.</p>
  <p class="u-flex">This is a flexible paragraph.</p>
</div>
```
*/

.u-display-flex {
  display: flex;
}
.u-display-flex--row {
  flex-direction: row;
}
.u-display-flex--column {
  flex-direction: column;
}

.u-flex {
  flex: 1;
}
